.NavContainer{
    background-color: rgb(115, 160, 255);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 20px;
    z-index: 1000;
}

.ButContainer{
    display: flex;
    gap: 10px;
    padding-right: 40px;
}

.PopupContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    z-index: 1000;
    width: auto;
    max-width: 500px;
    height: auto;
    background-color: rgb(115, 160, 255);
    border-radius: 5px;
    padding: 10px;
}

.PopupTitle{
    color: white;
    font-size: 60px;
}

.PopupTimer{
    text-align: center;
}

.work, .break{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.closeBtn{
    padding-top: 10px;
}

#header{
    font-size: 20px;
}

#logo{
    font-weight: bold;
    font-size: 1.5rem;
}

#settingTimer{
    width: 100px;
}

#breakText{
    padding-top: 15px;
}

#workText, #breakText{
    font-weight: bold;
    margin: 0;
}