.auth-container {
  display: flex;
  width: 1300px;
  height: 700px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  transition: all 0.6s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authTitle {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}

.authText {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.form-panel {
  flex: 1.6;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}

.info-panel {
  flex: 1;
  background: rgb(124, 178, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease-in-out;
  position: relative;
}

.info-content {
  text-align: center;
  padding: 20px;
}

.info-content button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  height: 45px;
  width: 200px;
  font-size: 16px;
}

.info-content button:hover {
  background: white;
  color: rgb(124, 178, 255);
}

/* Sliding animation */
.auth-container.signup-mode .info-panel {
  transform: translateX(-160%);
}

.auth-container.signup-mode .form-panel {
    transform: translateX(63%);
}

.auth-container.login-mode .form-panel {
  transform: translateX(0);
}